/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2018, 9:47:01 AM
    Author     : JuanP
*/

.mainPane
{
	-fx-background-color: linear-gradient(#1E88E5,#1565C0,#0D47A1 90%);
	-fx-border-color: linear-gradient(to bottom,#1976D2,#1668C4 90%);
	-fx-border-width: 5px;
	/*-fx-background-radius: 5%;*/
	/*-fx-border-radius: 1%;*/
}

.label
{
	/*-fx-background-color: linear-gradient(#1E88E5 ,#1565C0);*/
	-fx-font-family: "Roboto";
	-fx-font-smoothing-type: gray;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 24px;
}

.field
{
	-fx-font-family: "Roboto";
	-fx-background-color: linear-gradient(to top,#ECEFF1,#CFD8DC);
	-fx-font-smoothing-type: gray;
	-fx-text-fill: #000000;
	-fx-text-align: center;
	-fx-font-size: 30px;
}

.button
{
	-fx-background-color: linear-gradient(#03A9F4, #0288D1),radial-gradient(center 50% -40%, radius 200%, #64DD17 45%, #80c800 50%);
	-fx-font-family: "Roboto";
    -fx-background-radius: 30;
    -fx-background-insets: 0;
	-fx-font-style: bold;
	-fx-font-smoothing-type: gray;
	-fx-text-fill: white;
    -fx-font-size: 34px;
    /*-fx-border-color: linear-gradient(to bottom,#00B0FF,#1668C4 50%);*/
	/*-fx-border-width: 4px;*/
}

.reset
{
	-fx-background-color: linear-gradient(to right,#03A9F4,#0288D1)radial-gradient(center 50% -40%, radius 200%, #76FF03 45%, #1A237E 50%);
}

.jfx-spinner .arc
{
	-fx-stroke: linear-gradient(to right , #AEEA00 ,#03A9F4 );
    -fx-text-fill: white;
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
}

.jfx-spinner .percentage
{
	-fx-stroke: linear-gradient(to top , #FBC02D ,#FF8F00 );
	-fx-stroke-width: 2.0;
	-fx-fill: linear-gradient(to bottom , #1A237E ,#212121);
}

.progress-bar > .bar
{
    -fx-background-color: linear-gradient(to right,#FFC107 50% ,#F57C00 80% ,#e53935 90% );
}